body{
    height: 100%;
    text-align: center;
    color: black;
    padding: 10%;
}
label {
    display: block;
}

input{
    margin-top: 5px;
}
table{
    margin-top: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td{
    border: groove black 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(183, 180, 180);
}
th{
    border: groove black 2px;
    background: rgba(9, 134, 130, 0.5);
    font-size: x-large;
    padding: 4px;
}
a{
    font-size: large;
}